/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(79, 100%, 49%);
  --white-color: #fff;
  --black-color: #000;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --tiny-font-size: .563rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
}

/*=============== MODERN INPUT ===============*/


/* Opaque placeholder */


/* Move input and sticky input up */


/* Move label and sticky label up */


/* Input bounce animation */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For large devices */
